<body class="">
    
    <div class="col-md-3 mx-auto bg-primary shadow-lg mt-5 p-3 ">
        <form name="myform">
             <h2 class="text-center text-light">Calculater</h2>
            <input type="text" id="n1" class="form-control" [(ngModel)]="result" name="result" />
            <div class="mt-3 text-center">
                <button type="button" (click)="clrTextBox()">CL</button>
                <button type="button" (click)="clearLastCharacter()">DEL</button>
                <button type="button" (click)="appendToResult('.')">.</button>
                <button type="button" (click)="appendToResult('%')">%</button>
            </div>
            <div class="mt-1 text-center">
                <button type="button" (click)="appendToResult('7')">7</button>
                <button type="button" (click)="appendToResult('8')">8</button>
                <button type="button" (click)="appendToResult('9')">9</button>
                <button type="button" (click)="appendToResult('/')">/</button>
            </div>
            <div class="mt-1 text-center">
                <button type="button" (click)="appendToResult('4')">4</button>
                <button type="button" (click)="appendToResult('5')">5</button>
                <button type="button" (click)="appendToResult('6')">6</button>
                <button type="button" (click)="appendToResult('*')">*</button>
            </div>
            <div class="mt-1 text-center">
                <button type="button" (click)="appendToResult('1')">1</button>
                <button type="button" (click)="appendToResult('2')">2</button>
                <button type="button" (click)="appendToResult('3')">3</button>
                <button type="button" (click)="appendToResult('-')">-</button>
            </div>
            <div class="mt-1 text-center">
                <button type="button" (click)="appendToResult('0')">0</button>
                <button type="button" (click)="appendToResult('00')">00</button>
                <button type="button" (click)="calculate()">=</button>
                <button type="button" (click)="appendToResult('+')">+</button>
            </div>
        </form>
    </div>
</body>
